.back-gray{
    background-color:  gray;
}
.min-height-50{
    min-height: 50px !important;
}

.max-with-150{
    max-width: 150px !important;
    overflow: hidden;
    padding-left: 2px;
}

.flex-direction-column{
    flex-direction: column;
}
body{
    background-color: whitesmoke;
}

.justify-content-center{
    justify-content: center;
}

.back-sky{
    background-color: rgba(174, 202, 255, 0.277);
    padding: 0px 2px !important;
    font-size: small;
    height: fit-content !important;
}

.group-list button{
    font-weight: 700;
}

.font-weight-700{
    font-weight: 700;
}
.tab-panel{
    background-color: rgba(203, 226, 255, 0.277);
    border: 1px solid blue;
    border-radius: 4px 4px 0px 0px;
}

.tab-panel button{
    color: blue;
}
    
.selected-tab{
    background-color: rgb(243, 243, 243) !important;
    border: 1px solid rgba(106, 106, 106, 0.275) !important;
    border-radius: 4px 4px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: black !important;;
}

.min-height-fit-page{
    min-height: 90vh;
}

.blue{
    color:blue;
}
.black{
    color:black;
}